<h2 class="text-center"><a style="text-decoration:none;color:olive;" href="/Home/Index">Picture Album</a></h2>
<hr />
<div class="container" album-contents-id>
    <div class="col-md-4" style="background-color:palegoldenrod;border-radius:8px; height:100%;padding:2px;">
        <div>
            <h4 class="text-center" style="color:olive">List of Albums</h4>
            <ul id="albumList" style="list-style-type: none;padding:2px; margin:0;width:100%" class="text-center"></ul>
        </div>
        <hr />
        <div>
            <h5 class="text-center" style="color:olive">Add Album</h5>
            <form id="addAlbumForm" style="margin-bottom:2%;text-align:center">
                <input id="albumName" type="text" class="form-control" style="display: inline-block" />
                <input type="submit" class="btn btn-primary text-center" value="Add" />
            </form>
        </div>
    </div>

    <div class="col-md-8 text-center" style="overflow:visible;">
        <h3 id="albumHeading" class="text-center" style="margin-top:0px;color:olive"></h3>
        <br />

        <div class="container">
            <div id="links" />
        </div>

        <div id="blueimp-gallery" class="blueimp-gallery">
            <!-- The container for the modal slides -->
            <div class="slides"></div>
            <!-- Controls for the borderless lightbox -->
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
            <!-- The modal dialog, which will be used to wrap the lightbox content -->
            <div class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <button type="button" class="close" aria-hidden="true">&times;</button>
                            <h3 class="modal-title" name="name"></h3>
                            <h5 name="location" class="location-heading" style="clear:both"></h5>
                            <form name="picture" hidden class="form-group text-center">
                                <label for="text-field">Name</label>
                                <input type="text" id="text-field" />
                                <label for="text-location">Location</label>
                                <input type="text" id="text-location"/>
                                <input type="submit" class="btn-primary" />
                            </form>
                            <a class="glyphicon glyphicon-floppy-remove" href="#" style="margin-right:10px" data-toggle="tooltip" title="Delete"></a>
                            <a class="glyphicon glyphicon-edit text-center" href="#" data-toggle="tooltip" title="Edit"></a>
                        </div>

                        <div class="modal-body next"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left prev">
                                <i class="glyphicon glyphicon-chevron-left"></i>
                                Previous
                            </button>
                            <button type="button" class="btn btn-primary next">
                                Next
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div id="uploadPicForm" hidden class="text-center">
            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Add Images</span>
                <input id="fileupload" type="file" name="files[]" multiple accept="image/*">
            </span>
            <br />
            <div class="progress" hidden>
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    <span class="sr-only">0% complete</span>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="/Scripts/jquery.picturealbum.js"></script>
}